<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>
    Hi <%= @user.username %>, <br>
    <br/>
    Thanks for taking your time to send us a feedback! It is important to us, and we will respond to you shortly. Please feel free to contact us again if you have any other problems.
  </p>
  <h4>Yummy Team</h4>
  </body>
</html>