<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>
    Hi <%= @user.username %>, <br>
    <br/>
    You have successfully signed up to Yumilicious!, we hope you will satisfy with your choices for lunch. Our goal is to keep improving and providing you better lunches and services.<br>
  </p>
  <h4>Yummy Team</h4>
  </body>
</html>